* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: BNazanin, serif;
    transition: 0.2s;
}
a:hover{
    text-decoration: none;
}
.direct {
    direction: rtl;
}

.border-test {
    border: 1px solid black;
}

.clear {
    clear: both;
}

.container-custom {
    width: 100%;
    padding: 10px 100px;
    box-sizing: border-box;

}

@media screen and (min-width: 1600px) {
    .container-custom {
        width: 1460px;
        margin: 0 auto;
    }
}

/*header navbar*/
.blog-header {
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    margin-bottom: 70px;
}

.img-header-control {
    overflow: hidden;
    position: relative;
}

.img-header-control img {
    width: 100%;
    height: 100%;
}


.headingWhy {
    text-align: center;
    color: #e64040;
    margin-bottom: 30px;
}

.headingSec {
    font-size: 32px;
    text-shadow: 1px 1px 0 #666;
    font-family: MjDinar, BNazanin, Arial;
    font-weight: bold;
    text-align: center;
    margin: 20px auto 70px auto;
    color: #e64040;
    width: 50%;
}

.headingSec:after {
    content: "";
    width: 25%;
    height: 2px;
    background: linear-gradient(to right, #fafafa 10%, #f0aaaa 30%, #ff0000 120%);
    display: inline-block;
    position: absolute;
    left: 0;
    top: 42px;
}

.headingSec:before {
    content: "";
    width: 25%;
    height: 2px;
    background: linear-gradient(to left, #fafafa 10%, #f0aaaa 30%, #ff0000 120%);
    display: inline-block;
    position: absolute;
    right: 0;
    top: 42px;
}

@media screen and (max-width: 768px) {
    .headingSec:after, .headingSec:before {
        width: 20%;
    }
}

@media screen and (max-width: 576px) {
    .headingSec:after, .headingSec:before {
        width: 10%;
    }

    .headingSec {
        width: 80%;
    }
}

.headingWhy h4 {
    font-size: 26px;
}

.navbarStyle {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    z-index: 100;

}
.navclass{
    display: block;
}

.navbar-style {
    background-color: transparent;
    border-left: 1px solid rgba(255, 255, 255, 0.4);
}

.navbar-style {
    background-color: transparent;
    border-left: 1px solid rgba(255, 255, 255, 0.4);
}

.navbar-item-style li a {
    font-size: 14px;
    font-weight: bold;
    color: rgba(230, 30, 30, 0.7);
}

.navbar-item-style li {
    padding: 5px;
    transition: 0.5s;
}

.navbar-item-style li:hover {
    margin: 0 4px;
}

.navbar-item-style li:hover a {
    color: rgba(255, 30, 30, 1);
}

.navbar-item-style li a span {
    font-size: 20px;
}
.responsiveNavBtn{
    margin: 5px auto;
    display: none;
    text-align: center;
    padding: 4px 10px 2px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color:transparent;
    transition: 0.3s;
}
.responsiveNavBtn:hover{
    background-color: #e63232;
    color: #ffffff;
    cursor: pointer;
}
@media all and (max-width: 768px) {
    .social-net{
        display: none;
    }
    .navVerDivider{
        display: none !important;
    }
    .navbarStyle {
        background-color: #2b2c30;
    }

    .responsiveNavBtn {
        display: block;
        float: right;
    }
    .divres{
        display: block;
    }
    .navclass {
        display: none;
    }
    .text-menu{
        display: block;
        width: 100%;
        margin-top:5px;
    }
    .nav-bottom li span:after{
        content: "";
        width: 30%;
        height: 1px;
        background-color:#ccc ;
        display: inline-block;
        position: absolute;
        left: 20px;
        top: 10px;
    }
    .nav-bottom li span:before{
        content: "";
        width: 30%;
        height: 1px;
        background-color:#ccc ;
        display: inline-block;
        position: absolute;
        right: 20px;
        top: 10px;
    }

}



.addScroll {
    background-color: #2b2c30;
    border-bottom: 1px solid #f0f0f0;

}
.addScroll ul li a{
    color: #f0f0f0 !important;
}
.addScroll ul li a :hover{
    color:#e64040 !important;
    transition: 0.5s;
}
.navbarStyle ul li {
    display: inline-block;
    float: right;
    padding: 5px 10px;
    margin-bottom: 5px;
}

.navbarStyle ul li a {
    color: #e64040;
    font-size: 18px;
    cursor: pointer;

}

.navbarStyle ul li a:hover {
    color: #e64040 !important;
    transition: 0.5s;
    text-decoration: none;

}

.navVerDivider {
    margin: 10px 20px;
    width: 1px;
    height: 20px;
    background-color: #e64040;
    display: inline-block;
    float: right;
}

.blogHeading {
    color: #f0f0f0;
    display: inline-block;
    margin: 16% 0;
    font-size: 32px;
    font-weight: bold;
}

.test {
    width: 100%;
    height: 20px;
    background-color: #ffeeba;
}

/*post blog*/
.blogPost {
    margin-bottom: 50px;
    padding: 0 10px;
}

.postTopSec {
    height: 300px;
}

.detailPost {
    display: inline-block;
    width: 9%;
    margin-left: 1%;
    background-color: #A00909;
    float: right;
    height: 100%;
}
.detailPost ul {
    text-align: center;
}

.detailPost ul li {
    list-style-type: none;
    border-bottom: 1px solid #f0f0f0;
    color: #f0f0f0;
    box-sizing: border-box;
    padding: 10px 5px;
    cursor: pointer;
}

.detailPost ul li:hover {
    background-color:#e64040;
}

.detailPost ul li span {
    display: block;
}

.detailPost ul li i {
    display: block;
    font-size: 20px;
}

.imgPost {
    display: inline-block;
    width: 90%;
    float: right;
    height: 100%;
    border: 1px solid #f0f0f0;
}

.imgPost img {
width: 100%;
height: 100%;
}
@media screen and (max-width: 576px){
    .imgPost{width: 100%;}
}

.postBottomSec {
    margin-top: 20px;
    text-align: right;
    padding: 0 10px;
}

.postBottomSec h2 {
    font-size: 26px;
    color: #333333;
}

.postBottomSec p {
    margin-top: 10px;
    font-size: 17px;
    color: #858585;
    padding: 5px;
    box-sizing: border-box;
}

.postBottomSec button {
    display: block;
    padding: 5px 15px;
    font-size: 17px;
    background-color: #A00909;
    border-radius: 3px;
    border: none;
    color: #f0f0f0;
    margin-bottom: 50px;
}

.postBottomSec button:hover {
    background-color:#e64040;
    cursor: pointer;
}
.dividerPost{
    height: 1px;
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
}

.paginate{
    text-align: center;
    font-size: 20px;
    margin: 30px 0;
    color: #e64040;
    cursor: pointer;
}
.paginate span{
    margin: 4px;
}
.paginate :hover{
    color: #A00909;
}

/* right Side */
.rightSide {
    padding: 0 5px;
}

.searchSec {
    width: 100%;
    height: 40px;
    border: 1px solid #f0f0f0;
}

.searchSec input {
    width: 85%;
    border: none;
    height: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
    text-align: center;
    font-size: 18px;
    float: left;
}

.searchSec button {
    border: none;
    background-color: transparent;
    width: 15%;
    height: 100%;
    float: left;
}

.searchSec button:hover span {
    color: #e64040;
}

.searchSec button:hover {
    cursor: pointer;
}

.headSide {
    position: relative;
    margin: 35px 0;
    text-align: right;
}

.headSide span:before {
    position: absolute;
    content: '';
    height: 2px;
    width: 65%;
    background-color: #A00909;
    top: 12px;
    left: 0;
}

.headSide span {
    width: 35%;
    font-size: 17px;
    color: #A00909;
}

.socialNetwork {
    width: 70%;
    margin: 20px auto;
}

.socialNetwork div {
    width: 30px;
    height: 30px;
    margin: 0 2px;
    display: inline-block;
    text-align: center;
    color: #f0f0f0;
    background-color: #A00909;
    box-sizing: border-box;
    padding: 6px;
}

.advertiseSec{
    width: 80%;
    margin: 0 auto;
}
.advertiseSec figure img{
    width: 100%;
}
.advertiseSec figure figcaption{
    text-align: center;
    color: #858585;
    width: 90%;
    margin: 5px auto;
    text-justify: inter-word;
}
.advertiseSec figure figcaption a{
    display: block;
    text-align: center;
    background-color: #A00909;
    color: #f0f0f0;
    width: 50%;
    margin: 5px auto;
    border-radius: 3px;
}
.advertiseSec figure figcaption a:hover{
    background-color: #e64040;
    color: #f0f0f0;
}
.category{
    text-align: right;
    padding: 0 10px;
    box-sizing: border-box;
    margin-top: -8px;
}
.category ul li{
    list-style-type: none;
    margin: 5px 0;
    border-bottom: 1px solid #f0f0f0;
}
.category ul li i{
    color: #e64040;
    margin-left: 5px;
}
.category ul li a{
    color: #e64040;
}
.category ul li span{
    float: left;
    clear: both;
    margin-left: 15px;
    color: #818182;
}

/* Footer section */
footer {
    width: 100%;
    height: auto;
    background-color: #2b2c30;
    padding-bottom:10px;
}

.content-footer {
    direction: rtl;
    text-align: right;
}

.links, .indexpages, .infous {
    font-size: 16px;
    height: auto;
    padding: 10px;
}

.header-links, .header-pages, .header-infous {
    font-size: 20px;
    color: #f0f0f0;
}

.links a, .indexpages a {
    color: #f0f0f0;
    transition: 0.5s;
}

.links a:hover, .indexpages a:hover {
    color:#e64040;
    text-decoration: none;
}

.line{
    width: 100%;
    height: 3px;
    background-color: rgba(255,53,53,0.5);
}

.overline {
    width: 50px;
    height: 3px;
    background-color: #e64040;
}

.links a {
    display: block;
    margin-top: 15px;
}

.links a:hover {
    color: #e64040;
}

.indexpages a {
    display: block;
    margin-top: 15px;
}

.indexpages a:hover {
    color: #e64040;
}

.information {
    color: #f0f0f0;
}

.information a {
    color: #f0f0f0;
}

.phoneicon, .homeicon {
    color: #f0f0f0;
}
.ircoding-web:hover{
    color: #e64040;
    transition: 0.5s;
}

.icons {
    font-size: 20px;
    padding-right: 15px;
    padding-top: 10px;
    color: #f0f0f0;
    transition: 0.5s;
    cursor: pointer;
}

.icons:hover {
    color: #e64040;
    transition: 0.5s;
}
/* Font */
@font-face {
    font-family: 'BNazanin';
    src: url('../fonts/BNazanin.eot?#') format('eot'), /* IE6–8 */ url('../fonts/BNazanin.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/BNazanin.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
    font-family: 'MjDinar';
    src: url('../fonts/MjDinarOneLight.ttf') format('truetype'), url("../fonts/MjDinarOneMedium.ttf") format('truetype');
}
